@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  background:
    -webkit-radial-gradient(50% 5%, #097200, black);
  background-attachment: fixed;  
  color: #FFF67E;
  font-family: Mukta, sans-serif;
}

#header {
  text-align: center;
  margin: 3% 3%;
}

#header img {
  max-width: 10%;
  max-height: 5%;
  background-color: transparent;
  filter: drop-shadow(5px 5px 10px black);
}

#header h1 {
  font-size: 2vw;
  text-shadow: 5px 5px 10px black;
  margin: 1% 2%;
}

#input-container {
  max-width: 60%;
  position: relative;
  box-shadow: 0 0 20px black;
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 10px;
  background: linear-gradient(#ffffff1c, transparent);
}

.input-group{
  display: flex;
  justify-content: space-evenly;
}

label {
  font-size: large;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

input {
  border: transparent;
  border: 0;
  border-bottom: 2px solid;
  outline: 0;
  background: transparent;
  color: #FFF67E;
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 20vh;
}

#result {
  margin: auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

#result thead {
  font-size: 1.5rem;
  color: #FFF67E;
  text-shadow: 2px 2px 5px black;
}

#result tbody {
  font-size: 1rem;
  color: #fff9a5;
}